@import url(variables.css);

body {
    font-family: "Inter", sans-serif;
    color: var(--secondary-color);
}

h6,
h5 {
    padding: 0;
}

.navbar {
    box-shadow: 0 2px 4px -1px #9d9c9cc4;
}

img {
    width: 100%;
}

.navbar-brand {
    font-size: 24px;
    /* border-bottom: 1px solid gray; */
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: 500;
    --bs-nav-link-color: var(--secondary-color);
    --bs-nav-link-hover-color: var(--primary-color);
}

.navbar-nav .nav-link.active {
    color: var(--secondary-color);
    position: relative;
}

.nav-link.active:hover {
    color: var(--primary-color);
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -800px;

    /* padding: 50px; */
    margin-top: var(--bs-dropdown-spacer);
}

.dropdown-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 1200px;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-font-size: 1rem;
    --bs-dropdown-color: var(--bs-body-color);
    --bs-dropdown-bg: var(--bs-body-bg);
    --bs-dropdown-border-color: var(--bs-border-color-translucent);
    --bs-dropdown-border-radius: var(--bs-border-radius);
    --bs-dropdown-border-width: var(--bs-border-width);
    --bs-dropdown-inner-border-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-box-shadow: var(--bs-box-shadow);
    --bs-dropdown-link-color: var(--bs-body-color);
    --bs-dropdown-link-hover-color: var(--bs-body-color);
    --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #0d6efd;
    --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.25rem;
    --bs-dropdown-header-color: #6c757d;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: 0.5rem;
    position: absolute;
    z-index: var(--bs-dropdown-zindex);
    display: none;
    min-width: var(--bs-dropdown-min-width);
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--bs-dropdown-bg);
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
}

.dd-inner {
    h5 {
        font-weight: 600;
        font-size: 18px;
        color: black;
    }

    .dd-card {
        h5 {
            font-weight: 500;
            font-size: 14px;
            color: black;
        }

        h6 {
            font-weight: 400;
            font-size: 14px;
            color: oklch(0.551 0.027 264.364);

        }

    }

} 
.dd-prop{
   
   &:hover{
     h6{
       
            color: var(--primary-color);
    }
   }  
}

.card1-img {
    width: 78px;
    height: 58px;
    border-radius: 10px;

    img {
        border-radius: 10px;
        height: 100%;
        object-fit: cover;
    }
}

.pop-location1 {
    width: 100%;
    height: 80px;
    border-radius: 10px;
    background-color: #0d6efd;
    background-image: linear-gradient(to right, #4d179acc, #59168bcc), url(../imgs/new-york.jpeg);
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.pop-location2 {
    width: 100%;
    height: 80px;
    border-radius: 10px;
    background-color: #0d6efd;
    background-image: linear-gradient(to right, #4d179acc, #59168bcc), url(../imgs/los-angeles.jpeg);
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.pop-location3 {
    width: 100%;
    height: 80px;
    border-radius: 10px;
    background-color: #0d6efd;
    background-image: linear-gradient(to right, #4d179acc, #59168bcc), url(../imgs/miami.jpeg);
    background-size: cover;
    background-position: center;
}

.resource {
    position: relative;
    overflow: hidden;
    transition: all 0.5s;

    &::before {
        content: '';
        content: '';
        width: 113px;
        height: 107px;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: -49px;
        right: -38px;
        background-color: #F4F2FE;
    }

    p {
        font-weight: 600;
        font-size: 18px;
    }

    h5 {
        font-weight: 400;
        font-size: 16px;
        color:
            oklch(0.446 0.03 256.802);
    }

    h6 {
        font-weight: 500;
        font-size: 14px;
    }

    .r-icon {
        width: 40px;
        height: 40px;
        background-color: #EDE9FE;
    }

}
.resource:hover{
    
    p {
        font-weight: 600;
        font-size: 18px;
        color: var(--primary-color);
    }
    .arr{
        transform: translateX(5px);
    }
}
.src1{
    &::before {
        
        content: '';
        width: 113px;
        height: 107px;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: -49px;
        right: -38px;
        background-color: #DBFCE7;
    }
    .r-icon {
        width: 40px;
        height: 40px;
        background-color: #EEFEF3;
    }
}
.src1:hover{
    
    p {
        font-weight: 600;
        font-size: 18px;
        color: #00A63E;
    }
    .arr{
        transform: translateX(5px);
    }
}

#hero {
    background-image: linear-gradient(to right, #4d179acc, #59168bcc), url(../imgs/hero-bg-img.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 50px;
}

.hero {
    margin-top: 80px;
    width: 60%;

    h1 {
        font-weight: 700;
        font-size: 60px;
    }

    p {
        font-weight: 400;
        font-size: 20px;
    }

    h5 {
        font-weight: 700;
        font-size: 30px;
    }

    h6 {
        font-weight: 400;
        font-size: 16px;
    }

    form {
        button {
            background-color: var(--primary-color);
            border: none;
            color: white;
            font-weight: 600;
            font-size: 16px;
        }

        .form-select {
            --bs-form-select-bg-img: none;

        }
    }

}

/* ----------------------------------------------------------------------------- */
header {
    .header-span {
        width: 15%;
        padding-block: 5px;
        padding-inline: 20px;
        margin-inline: auto;
        border: 1px solid #DDD6FF;
        color: var(--primary-color);
        background-color: #F7F4FF;
        font-weight: 700;
        font-size: 12px;
        position: relative;

    }

    .header-span::before {
        content: '';
        width: 60px;
        height: 2px;
        display: block;
        position: absolute;
        top: 10px;
        left: 210px;
        background-image: linear-gradient(90deg, var(--primary-color) 80%, rgb(255, 255, 255));
    }

    .header-span::after {
        content: '';
        width: 60px;
        height: 2px;
        display: block;
        position: absolute;
        top: 10px;
        right: 210px;
        background-image: linear-gradient(90deg, rgb(255, 255, 255), var(--primary-color) 80%);
    }

    h5 {
        font-weight: 900;
        font-size: 48px;
        background: linear-gradient(to right, var(--primary-color) 50%, rgb(255, 187, 0) 70%);
        background-clip: text;
        color: transparent;

    }

    h6 {
        font-weight: 400;
        font-size: 20px;
        width: 50%;
        margin-inline: auto;
        margin-block: 20px;

    }
}

/* ----------------------------------------------------------------------------- */
.acc-item {
    box-shadow: 5px 6px 15px 0px rgba(0, 0, 0, 0.20);
    border-radius: 8px;
}

.accordion-item:hover {
    background-color: #F9FAFB;
}

.accordion-item:hover .accordion-button {
    background-color: #F9FAFB;
}



.accordion-button:not(.collapsed) {
    color: black;
    background-color: transparent;

    box-shadow: none;
}

.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none;
}

/* ----------------------------------------------------------------------------- */
.inner-icon {
    width: 65px;
    height: 65px;
    border-radius: 10px;
    background-color: var(--primary-color);
}

.inner {
    border: 2px solid ghostwhite;
    border-radius: 10px;

    h6 {
        font-weight: 700;
        font-size: 18px;
        color: black;
    }

    .inner-p {
        font-weight: 400;
        font-size: 14px;
        color: var(--secondary-color);
        margin-top: 10px;
        padding: 0;
    }
}

.inner:hover {
    border: 1px solid var(--primary-color);
    transform: translateY(-10%);

    .inner-icon {
        transform: scale(1.1);
    }
}

.contact-info {
    .contact-header {
        font-weight: 700;
        font-size: 24px;
        color: black;
    }

    .inner-icon {
        width: 45px;
        height: 45px;
        border-radius: 10px;
        background-color: white;

        margin-right: 20px;
        margin-top: 10px;
    }

    h5 {
        font-weight: 600;
        font-size: 16px;
        color: black;
    }

    h6 {
        font-weight: 400;
        font-size: 14px;
        width: 70%;
        color: var(--secondary-color);
    }
}

.connect {
    background-color: #8B1CFC;

    .inner-icon {
        width: 45px;
        height: 45px;
        border-radius: 10px;
        background-color: #A547FC;
        transition: all 0.5s;
        margin-right: 15px;
        margin-top: 10px;
    }

    .inner-icon:hover {
        background-color: #B25DFC;
        transform: scale(1.1);
    }

    h5 {
        font-weight: 700;
        font-size: 20px;
        color: white;
    }

    h6 {
        font-weight: 400;
        font-size: 12px;
        margin-top: 20px;
        margin-bottom: 20px;
        color: white;
    }
}

form {
    label {
        display: inline-block;
        color: oklch(0.373 0.034 259.733);
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 5px;

    }

    .form-check-label {
        font-weight: 400;
        font-size: 14px;
        color: var(--secondary-color);
    }

    h5 {
        font-weight: 700;
        font-size: 30px;
        color: #000;
    }

    h6 {
        font-weight: 400;
        font-size: 16px;
        color: var(--secondary-color);
    }

    textarea.form-control {
        min-height: calc(8.5em + .75rem + calc(var(--bs-border-width) * 2));
    }

    .check-btn {
        background-color: #F5F3FF;
    }

    .bttn {
        background-color: var(--primary-color);
        font-weight: 700;
        font-size: 18px;
        color: white;
    }

    span {
        font-weight: 400;
        font-size: 14px;
        color: var(--secondary-color);

    }
}

footer {
    background-image: linear-gradient(90deg, #501797 60%, #59178C);
    color: white;

    h5 {
        font-weight: 700;
        font-size: 24px;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        color:
            oklch(0.894 0.057 293.283);
    }

    .inner-icon {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        background-color: #6A2E98;
        transition: all 0.5s;
        margin-right: 15px;
        margin-top: 10px;
    }

    .inner-icon:hover {
        background-color: #8B1CFC;
        transform: scale(1.1);
    }

    .f {
        border-bottom: 1px solid rgba(128, 128, 128, 0.753);
    }
}

/* ----------------------------------------------------------------------------- */
.prop-img {
    height: 280px;
    /* background-image: url(../imgs/featured-properties-img-1.png);
    background-size: cover; */
    overflow: hidden;
}

.prop-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.5s;
}

.c {
    width: 30px;
    height: 30px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .p-left {
        color: #7F4CFE;
        font-weight: 700;
        font-size: 30px;
    }

    .p-right {
        color: oklch(0.551 0.027 264.364);
        font-weight: 400;
        font-size: 14px;
    }
}

.client {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        color: oklch(0.551 0.027 264.364);
        font-weight: 400;
        font-size: 14px;
    }
}

.f1 {
    top: 15px;
    left: 15px;
    background: #7F22FE;
    color: white;
    font-weight: 500;
    font-size: 14px;
}

.like {
    background-color: ghostwhite;
    top: 15px;
    right: 15px;
    color: rgb(128, 124, 124);
}

.like:hover {
    color: red;
}

.photos {
    bottom: 15px;
    left: 15px;
    background: rgba(0, 0, 0, 0.605);
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.feature-inner {
    transition: all 1s;

    .desc {
        font-weight: 500;
        font-size: 16px;
    }

    h5 {
        font-weight: 500;
        font-size: 16px;
        color:
            oklch(0.278 0.033 256.848);
    }

    h5 {
        font-weight: 400;
        font-size: 16px;
        color: oklch(0.551 0.027 264.364);
    }
}

.feature-inner:hover {

    .prop-img img {
        transform: scale(1.1);
        object-fit: cover;

    }
}

.desc {
    font-weight: 500;
    font-size: 16px;
}

.schedule {
    font-weight: 500;
    font-size: 14px;
    color: oklch(0.541 0.281 293.009);
    background-color: #EDE9FE;
}

.schedule:hover {
    background-color: #DDD6FF;
}

.feature-btn {
    font-weight: 600;
    font-size: 16px;
    background: linear-gradient(90deg, #881bf5 60%, #A547FC);
    color: #EDE9FE;
    border: none;
}

.feature-btn:hover {
    filter: brightness(0.9);
    background: linear-gradient(90deg, #881bf5 60%, #A547FC);

}

/* ----------------------------------------------------------------------------- */
.service-icon {
    width: 40px;
    height: 45px;
    background-color: #7F4CFE;
    border-radius: 10px;
    position: relative;

    i {
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

.photoss {
    bottom: 40px;
    left: -10px;
    width: 150px;
    height: 100px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 5px 6px 15px 0px rgba(0, 0, 0, 0.20);

    h5 {
        font-weight: 700;
        font-size: 24px;
        color: #7F22FE;
    }

    h6 {
        font-weight: 400;
        font-size: 16px;
        color: gray;
    }
}

.serv {
    h5 {
        font-weight: 700;
        font-size: 30px;
        color: black;
        margin-bottom: 20px;
    }

    p {
        font-weight: 400;
        font-size: 18px;
        color: gray;
        margin-bottom: 20px;
    }

    .serv-icon {
        h5 {
            font-weight: 600;
            font-size: 20px;
            color: black;
        }

        h6 {
            font-weight: 400;
            font-size: 16px;
            color: gray;
        }
    }
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--secondary-color);
    --bs-nav-link-hover-color: var(--primary-color);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-tabs {
    /* --bs-nav-tabs-border-width: var(--bs-border-width); */
    /* --bs-nav-tabs-border-color: var(--bs-border-color); */
    /* --bs-nav-tabs-border-radius: var(--bs-border-radius); */
    /* --bs-nav-tabs-link-hover-border-color: none none none var(--primary-color); */
    /* --bs-nav-tabs-link-active-color: var(--bs-emphasis-color); */
    /* --bs-nav-tabs-link-active-bg:var(--primary-color) ; */
    /* --bs-nav-tabs-link-active-border-color: var(--bs-border-color) var(--bs-border-color) var(--bs-body-bg); */
    border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
    font-weight: 600;
    font-size: 16px;
    margin-top: 70px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: var(--primary-color);
    background-color: #DDD6FF;
    border-bottom: 2px solid #7F4CFE;
    /* border-color: aqua; */
}

.nav-tabs .nav-link {
    margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
    /* border: var(--bs-nav-tabs-border-width) solid transparent; */
    /* border-top-left-radius: var(--bs-nav-tabs-border-radius); */
    /* border-top-right-radius: var(--bs-nav-tabs-border-radius); */
    padding-block: 18px;
}

/* ----------------------------------------------------------------------------- */
.testimonials {
    background: #59178C;

    header {
        .header-span {
            width: 15%;
            padding-block: 5px;
            padding-inline: 20px;
            margin-inline: auto;
            border: 1px solid #DDD6FF;
            color: var(--primary-color);
            background-color: #F7F4FF;
            font-weight: 700;
            font-size: 12px;
            position: relative;

        }

        .header-span::before {
            content: '';
            width: 60px;
            height: 2px;
            display: block;
            position: absolute;
            top: 10px;
            left: 210px;
            background-image: linear-gradient(90deg, var(--primary-color) 80%, rgb(255, 255, 255));
        }

        .header-span::after {
            content: '';
            width: 60px;
            height: 2px;
            display: block;
            position: absolute;
            top: 10px;
            right: 210px;
            background-image: linear-gradient(90deg, rgb(255, 255, 255), var(--primary-color) 80%);
        }

        h5 {
            font-weight: 900;
            font-size: 48px;
            /* background: linear-gradient(to right, var(--primary-color) 50%, rgb(255, 187, 0) 70%); */
            color: white;
            /* background-clip: text;
        color: transparent; */

        }

        h6 {
            font-weight: 400;
            font-size: 20px;
            width: 50%;
            margin-inline: auto;
            margin-block: 20px;
            color: rgb(196, 196, 208);

        }
    }
}

.testmonial {
    background-color: white;

    .stars {
        font-weight: 500;
        font-size: 16px;
        color: oklch(37.306% 0.03436 260.191 / 0.688);
    }

    p {
        font-weight: 400;
        font-size: 20px;
        color: oklch(0.373 0.034 259.733);
    }

    .serv-icon {
        h5 {
            font-weight: 700;
            font-size: 18px;
            color: black;
        }

        h6 {
            font-weight: 400;
            font-size: 16px;
            color: gray;
        }

        p {
            font-weight: 400;
            font-size: 14px;
            color: oklch(0.373 0.034 259.733);
        }

        .service-icon {
            width: 60px;
            height: 60px;
            background-color: #7F4CFE;
            border-radius: 50%;
        }

        .service-icon img {

            border-radius: 50%;
        }
    }
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: var(--bs-carousel-indicator-active-bg);
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity .6s ease;
}


.right-i,
.left-i {
    display: inline-block;
    width: 3rem;
    color: white;
    background-color: rgba(162, 180, 180, 0.688);
    height: 3rem;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;

}








@media screen and (max-width:686px) {
    .nav-link:hover {
        border-radius: 5px;
        background: #dbd5f8;
    }

    /* header{
     .header-span{
                width: 47%;
        padding-block: 5px;
        padding-inline: 20px;
        margin-inline: auto;
        border:1px solid #DDD6FF;
        color: var(--primary-color);
        background-color:#F7F4FF ;
         font-weight: 700;
        font-size: 12px;
        position: relative;
        
    }
} */
}





@media screen and (min-width:991px) {
    .navbar-nav .nav-link.active {
        color: var(--secondary-color);
        position: relative;
    }

    .nav-link.active:hover {
        color: var(--primary-color);
    }

    .navbar-nav {
        --bs-nav-link-padding-x: 0;
        --bs-nav-link-padding-y: 0.5rem;
        --bs-nav-link-font-weight: 500;
        --bs-nav-link-color: var(--secondary-color);
        --bs-nav-link-hover-color: var(--primary-color);
    }

    .nav-link.active::after {
        content: "";
        width: 0px;
        height: 3px;
        position: absolute;
        top: 80%;
        left: 10%;
        background-color: var(--primary-color);
        transition: all 0.5s;
    }

    .nav-link.active:hover:after {
        content: "";
        width: 85%;
        height: 3px;
        position: absolute;
        top: 80%;
        left: 7%;
    }

    .nav-link::after {
        content: "";
        width: 0px;
        height: 3px;
        position: absolute;
        top: 80%;
        left: 10%;
        background-color: var(--primary-color);
        transition: all 0.5s;
    }

    .nav-link:hover:after {
        content: "";
        width: 85%;
        height: 3px;
        position: absolute;
        top: 80%;
        left: 7%;
    }

    /* .header-span{
                width: 28%;
        padding-block: 5px;
        padding-inline: 20px;
        margin-inline: auto;
        border:1px solid #DDD6FF;
        color: var(--primary-color);
        background-color:#F7F4FF ;
         font-weight: 700;
        font-size: 12px;
        position: relative;
        
    } */
}

/* .navbar-nav .dropdown-menu .nav-link.show {
     top: 100%;
    right: 0;
    position: static;
    display: flex;
    width: auto; 
    justify-content: space-between;
}

.dropdown-menu[data-bs-popper] .nav-link.show{
    top: 100%;
    right: 0;
    margin-top: var(--bs-dropdown-spacer);
} */


/* @media screen and (max-width:991px) {
    .navbar-nav .nav-link.active {
    color: var(--secondary-color);
    position: relative;
}
.nav-link.active:hover{
    color: var(--primary-color);
}
.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight:500 ;
    --bs-nav-link-color: var(--secondary-color);
    --bs-nav-link-hover-color: var(--primary-color);
}
.nav-link.active::after{
        content: "";
        width: 0px;
        height: 3px;
        position: absolute;
        top: 80%;
        left: 10%;
        background-color: var(--primary-color);
        transition: all 0.5s;
    }
   .nav-link.active:hover:after{
        content: "";
        width: 85%;
        height: 3px;
        position: absolute;
        top: 80%;
        left: 7%;  
}
.nav-link::after{
        content: "";
        width: 0px;
        height: 3px;
        position: absolute;
        top: 80%;
        left: 10%;
        background-color: var(--primary-color);
        transition: all 0.5s;
    }
.nav-link:hover:after{
        content: "";
        width: 85%;
        height: 3px;
        position: absolute;
        top: 80%;
        left: 7%;  
}
} 